.toolbar {
    padding: 0.5rem 0.5rem;
    color: #fff;
    border-bottom: 1px solid #dee2e6;
    background-color: #212529;
}

.menu-list {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: inline-flex;
}

.menu-list > li {
    padding: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 3px;
}

.menu-list > li:first-child {
    margin-left: 0px;
}

.product-item {
    cursor: pointer;
}

.menu-list > li:hover {
    background-color: #343a40;
    color: #fff;
}

.menu-list > li > span {
    padding-right: 5px;
}

.border-radius-none {
    border-radius: 0px;
}

.border-radius-right {
    border-radius: 0px 5px 5px 0px;
}

.border-radius-left {
    border-radius: 5px 0px 0px 5px;
}

.sale-search-item > .row > .col-12 > div > .border-radius-left {
    border-radius: 4px!important;
}

.customer-info {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 14px;
}

.customer-info > li {
    margin: 0px;
    padding: 0px;
    font-weight: 700;
}

.customer-info > li > span {
    width: 50%;
}